<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="ZixuanKe">
        <meta name="description" content="ChatBot | Stranger">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ChatBot | Stranger</title>
		<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/websocket.js"></script>        
		<link rel="stylesheet" href="/static/css/stranger.css">
        <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    </head>
    <body>
        <div class="wrapper">
            <div class="banner">
                <h1>ChatBot | Stranger</h1>
                <span id="status"></span>
            </div>
            <div id="historyMsg">
            </div>
            <div class="controls" >	
                <div class="items">
					<input id="colorStyle" type="color" placeHolder='#000' title="font color" />
                    <input id="emoji" type="button" value="emoji" title="emoji" />
                    <input id="historyBtn" type="button" value="history" title="history message" onclick = window.location.href="/index/stranger/history" />
                </div>
						<form  id="uploadForm" enctype="multipart/form-data" method="POST" action="/address/upload/"> 
						<input type="file" type="file" name="file" id="upload"/>
						</form>	
						<button id="uploadBtn" onclick="handleFiles()">发送文件</button>
                　　		<progress id="uploadprogress" min="0" max="100" value="0">0</progress>
				<textarea id="messageInput" placeHolder="enter to send"></textarea>
                <input id="sendBtn" type="button" value="SEND" onclick="sendButton()">
                <div id="emojiWrapper">
                </div>
            </div>
        </div>
    </body>
</html>


<!-- 
进入则选择：   随机/建立房间(Name/Password)/加入房间（可写django脚本实现）
可以发送的功能应该更加全面（图片，表情，截图，视频，语音）
websocket 客户端由javascript负责发起 按按钮发起websocket 

上传文件需要按照html5格式规范完整书写  ：  name action 等

上传完成后是否可以通过ws通知服务器？否 应该上传客户端唯一标识 才能记住客户端（ws和http的端口并不同 可以考虑cookies等方法）

-->



<!-- 

	发送消息参考

function SendDataClicked()
 {
            if (document.getElementById("DataToSend").value != "") {
                ws.send(document.getElementById("txtName").value + "说 :\"" + 
document.getElementById("DataToSend").value + "\"");
                document.getElementById("DataToSend").value = "";
            }
        };
		
		-->