<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>ChatBot | Sranger, Robot, Familiar</title>
<link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

<div id="main">
   <div class="demo">
		<a href="#" class="button blue" onclick = window.location.href="/index/stranger">Stranger</a> 
	</div>
    
    <div class="demo">
		<a href="#" class="button green" onclick = window.location.href="/index/robot">Robot</a> 

	</div>
    
    <div class="demo">
		<a href="#" class="button white" onclick = window.location.href="/index/familiar">familiar</a> 

	</div>
    
</div>
<div style="text-align:center;clear:both;">
</div>
</body>
</html>
